<!-- Footer -->
<footer id="myFooter">
  <div class="w3-container w3-red w3-padding">
    <p>Liberty Ski Patrol SOP Guide</p>
  <p><i class="fa fa-copyright" title="Copyright"></i> 2019 Liberty Ski Patrol | <a href="http://www.libertyskipatrol.org/" style="text-decoration:none;">http://www.libertyskipatrol.org/</a></p>
  <p><a href="https://github.com/drewnielson/SkiPatrolSOPs/issues">Submit an issue / suggestion</a> | <a href="https://github.com/drewnielson/SkiPatrolSOPs">View source files</a></p>
  </div>
</footer>