<head>
<!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if site.branch == "main" %}
    <meta name="robots" content="index, follow">
    {% else %}
    <meta name="robots" content="noindex, nofollow">
    {% endif %}
    <!-- Mobile Specific Metas
      ================================================== -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title and meta description 
      ================================================== -->
    <title>{{page.title}} | {{site.title}}</title>

<!-- Favicons
    ================================================== -->
    <link rel="icon" href="{{ site.baseurl }}/assets/images/PatrolFavicon.png">
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/images/apple-touch-icon.png">

<!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/w3-modified.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/w3-theme-red.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/sopguide.css">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
